
{{#if VLerroresFecha}} 
<p>Errores en el formato de la fecha</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de registro</th>
      <th scope="col">Isin</th>
      <th scope="col">Fecha</th>
      <th scope="col">Moneda</th>
    </tr>
  </thead>
  <tbody>
      {{#each VLerroresFecha}} 
    <tr>
      <th scope="row">{{field1}}</th>
      <td>{{field2}}</td>
      <td>{{field3}}</td>
      <td>{{field4}}</td>
    </tr>
    {{/each}} 
  </tbody>
</table>
{{/if}} 
<br/><br/><br/>
{{#if VLerroresMoneda}} 
<p>Errores en el formato de la moneda</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de registro</th>
      <th scope="col">Isin</th>
      <th scope="col">Fecha</th>
      <th scope="col">Moneda</th>
    </tr>
  </thead>
  <tbody>
      {{#each VLerroresMoneda}} 
    <tr>
      <th scope="row">{{field1}}</th>
      <td>{{field2}}</td>
      <td>{{field3}}</td>
      <td>{{field4}}</td>
    </tr>
    {{/each}} 
  </tbody>
</table>
{{/if}} 
<br/><br/><br/>

{{#if VLsinVA}} 
<p>VL sin cabecera</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo de registro</th>
      <th scope="col">Isin</th>
      <th scope="col">Fecha</th>
      <th scope="col">Moneda</th>
    </tr>
  </thead>
  <tbody>
      {{#each VLsinVA}} 
    <tr>
      <th scope="row">{{field1}}</th>
      <td>{{field2}}</td>
      <td>{{field3}}</td>
      <td>{{field4}}</td>
    </tr>
    {{/each}} 
  </tbody>
</table>
{{/if}} 
<br/><br/><br/>
{{#if RegProcesados}}
Registros procesados: <span class="regCorrectos">{{RegProcesados.Vprocesados}}</span><br/>
Cabeceras insertadas en Mongo: <span class="regCorrectos">{{RegProcesados.regVAcorrectos}}</span><br/>
Registros VL insertados en Mongo: <span class="regCorrectos">{{RegProcesados.regVLcorrectos}}</span><br/>
{{/if}} 